@charset "utf-8";



/*
base style
*/
body {
  font-family: 'Noto Sans JP', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #333;
  margin: 0 auto;
}
label,input,textarea,select,button {
  cursor: pointer;
}
.button{
  border: 0;
}
.text-red {
  color: red;
}
.text-big {
  font-size: 36px;
}
.text-small {
  font-size: 16px;
}
.button.buttou-submission{
font-size: 24px;
font-weight: bold;

}
html {
  scroll-behavior: smooth;
}
/* section */
.section {
  width: 1000px;
  padding: 30px 15px;
  margin: 0 auto;
  padding-top: 200px;
    margin-top: -200px;
}
.section.section-secondry {
  margin-top: 80px;

}
.section-markin {
  display: flex;
  justify-content: space-between;
}
.section > img {
  display: block;
}
.section-headerline {

  border-left: #00CC00 solid 20px;
  color: #333;
  background-color: #EEEEEE;
  text-align: left;
  font-size: 26px;
  font-weight: bold;
  padding: 20px 15px;
margin-bottom: 80px;

}
.section-headerlineh2 {
  text-align: center;
}


.section-headerlinedetsil {
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.marker-green {
  border-bottom: 5px solid #99FF99;
}
.marker-yellow {
border-bottom: 5px solid #FFFF00;
}
.section-button {
  text-align: center;
  margin-top: 80px;
}

/*header*/

.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 100px 0px 100px;

}
.header-wrap{
  width: 100%;
    position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      border-bottom: #ccc 1px solid;

}
.header-logo{
  margin: 0;
  font-size: 15px;
}


.header-logo > a {
  display: block;
  color: transparent;
}
.site-logo img{
  margin-top: 12px;

}

/*nav ボタンお申し込み*/
.header-navitem > a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  /* border-bottom: 2px solid transparent; */
  transition: color .25s;
}


.header-navitem > a:hover {
  /* border-bottom: 2px solid #00CC00; */
    color: white;
}

.header-contact > ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-contacbtn > a{
  margin-left: 10px;
  padding: 15px 20px;
  background-color: #00CC00;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 0 #bbb;
  transition: box-shadow .25s;
}

@media screen and (max-width:1177px) {
  .header-contacbtn > a {
    display: inline-block;
    font-size: 15px;
    padding: auto;
    line-height: 1.5em;
    padding: 10px 20px;
  }
}
.header-contacttel {
  display: inline-grid;
  margin-right: 20px;
}
/* .header-markinlogo {
  width: 50px;
} */
.header-contacbtn>a:hover {
  box-shadow: 0 0 0 #bbb;
}
.sma {
  display: none;
}

/*スマートフォンでは有効（改行する）*/
@media screen and (max-width:1177px) {
  .sma {
    text-align: center;
    line-height: 2em;
    display: inline-block;
        padding: 30px 20px;
  }
}

.header-nav {
  background-color: #ececec;
  padding: 10px 0;
}
.header-navlist {

  width: 1000px;
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navitem +li {
  border-left: 1px solid white;
  padding-left: 50px;
}

/*hero*/
.hero {
  text-align: center;
  position: relative;
  overflow: hidden;
}
.hero > img {
  width: 100%;
  margin: 0;

}
.storong {
  position: absolute;
  top: 73%;
  left: 54%;
  background-image: url(../../asset/images/markinsite_tv_heroimg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right ;
  color: #333;
  width: 450px;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  border: #00CC00 solid 3px;
  padding: 20px 20px;
  text-align: left;
  opacity: 90%;
}
.storong-text {
  color: #00CC00;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: 71%;
  left: 72%;
  z-index: 100;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .hero>strong {
    font-size: 50px;
  }
}






/* about */
.about {
  margin: 0;
  display: flex;
  z-index: 1;
}

.about-caption {
  padding-left: 0;
  text-align: center;
}
.about-headline {
font-size: 30px;
margin-bottom: 0;
letter-spacing: 0.15em;
line-height: 1.2em;
}
.about-description {
  color: #000;
  text-align: center;
  border-bottom: #bbb solid 2px;
  padding: 30px;
  margin: 0;
}

.about-firstlist,.about-secondlist {
  text-align: left;
  line-height: 2.3em;
}
.about-list {
  margin: 50px 0;
}
.about-image {
  margin: 10px 23px;
  z-index: 1;
}

.about-right {
  position: relative;
  background-color: #FFFFCC;
  margin-left: 0;
  padding: 0 30px;
}
.about-description.top {
  margin-top: 40px;
}

.about-left {
  background-color: #CCFFCC;
  padding: 0 30px;
}
.aboutprint-image {
  padding-bottom: 70px;
}
 .text-jd {
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.07em;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .about {
    display: block;
    text-align: center;
  }
  .about-image {
    max-width: 100%;
  }
}

/* grid */
.grid {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}
.grid-col-4 > .grid-item{
  width: 25%;
}
.grid-col-2 > .grid-item {
  width: 50%;
}
.grid-col-3 > .grid-item {
  width: 33.3%;
}
.grid-item {
  list-style: none;
}

.original-name-left > p {
  text-align: left;
}

@media screen and (max-width: 768px){
  .grid {
    display: block;
  }
    .grid-col-4>.grid-item,
    .grid-col-2>.grid-item,
    .grid-col-3>.grid-item{
    width: 100%;
    margin: 20px;
}
}

/*detail*/
.detail{
  text-align: center;
  padding: 0 15px;
}
.detail-headline{
  font-weight:  bold;
}
.detail-img{
  margin: 0 0 20px;
}
.detail-description{
  margin: 0;
  text-align: left;
}
/*space*/
.space {
  padding-left: 0.7rem;
}


/* card */
.card{
   padding: 0 10px;
}
.card-link{
  display: block;
  color: #333;
  text-decoration: none;
  position: relative;
  transition: background-color .50s;
}
.card-link:hover{
  background-color: #eee;
}
.card-label{
  position: absolute;
  left: 0;
  top: 0;
  background-color: #999;
  color: #fff;
  display: block;
  padding: 5px 10px;
  font-size: 12px;
}
.card-img{
  width: 100%;
  height: auto;
}
.card-info{}
/* .card-time{} */
.card-headline{
  margin: 0;
}
.card-description{
  margin: 0;
}

/* avator */
.avator{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: start;
  padding: 10px;
}
.avator-name{
  font-weight: bold;
  padding-left: 15px;
}
.avator-imag{
  margin: 0;
  border-radius: 50%;
  overflow: hidden;
}
/*button*/
.button{
  display: inline-block;
  color: #fff;
  font-weight: bold;
  background-color: #00CC00;
  text-align: center;
  padding: 20px 200px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 5px 5px 0 #bbb;
  transition: box-shadow .25s;
}
.thanks{
  margin-top: 100px;
  display: block;
  margin: auto;
  text-decoration: none;
}
.thanks a {
  text-decoration: none;
  color: #EEEEEE;
}

.button:hover{
  box-shadow: 0 0 0 #bbb;
}
.button-second {

      color: #fff;
      font-weight: bold;
      background-color: #00CC00;
      text-align: center;
      padding: 20px 200px;
      text-decoration: none;
      border-radius: 5px;
      box-shadow: 5px 5px 0 #bbb;
      transition: box-shadow .25s;

}


/*.select .input .radio .textarea*/
.select {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  min-width: 500px;
}

@media screen and (max-width: 768px){
    .select,
    .input,
    .textarea{
    min-width: auto;
    width: 100%;
  }
}
.input {
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #ccc;
    min-width: 500px;

}
.radio {
  margin: 0 10px;
}
.textarea {
      border-radius: 5px;
      padding: 10px;
      border: 1px solid #ccc;
      min-width: 500px;
      min-height: 100px;
}
#detail p {
 text-align: left;
}
#price p {
  text-align: left;
}
/*form*/
.form-table th{
  padding: 10px 0 10px 50px;
  text-align: left;
  margin-left: 20px;
  font-size: 18px;
}
.form-table td {
  font-size: 18px;
  padding: 30px 10px;
  display: inline-grid;
}
.form-table {
  background-color: #eee;
}

.form-button {
  text-align: center;
  margin-top: 20px;
}
.form {
    background: #efefef;
}
.description {
  text-align: left;
  margin-bottom: 30px;
}
.checkbox {
  margin: 7px 0;

}

/*works*/
.works {
  margin: 40px 0;
  padding: 20px;
  text-align: center;
}
.works > img {
  margin: 0 15px;
}

/*footer*/


#footer {
  position: relative;
  margin-top: 140px;
  color: #333;
}

#footer a {
  text-decoration: none;
  color: #333;
}

#footer a:hover {
  text-decoration: underline;
}

#footer .primary {
  padding: 40px 20px;
  background: #ececec;
}

#footer .secondary {
  display: flex;
  padding: 40px 20px;
  background: #222;
}

@media screen and (max-width: 767px) {
  #footer .primary {
    padding: 20px 20px;
    background: #333;
  }

  #footer .secondary {
    display: block;
    padding: 20px 20px;
  }
}

/* footer-logo */

#footer .logo {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 26px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  #footer .logo {
    font-size: 16px;
  }
}

/* address */

.address {
  margin: 10px 0 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .address {
    font-size: 12px;
  }
}

/* navi */

.navi-row {
  display: flex;
  margin-top: 40px;
}

#footer .navi {
  margin: 0;
  padding: 0;
  list-style: none;
}

#footer .navi li {
  display: inline-block;
  margin: 0 20px 0 0;
  padding: 0;
}

#footer .navi li:first-child {
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  .navi-row {
    display: block;
    margin-top: 15px;
  }

  #footer .navi {
    font-size: 12px;
  }

  #footer .navi li {
    margin-top: 5px;
    font-size: 12px;
  }
}

/* sns-navi */

#footer .sns-navi {
  margin: 0 0 0 auto;
  padding: 0;
}

#footer .sns-navi li {
  display: inline-block;
  margin: 0 20px 0 0;
  padding: 0;
  font-size: 20px;
}

#footer .sns-navi li:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  #footer .sns-navi {
    margin: 20px 0 0;
    padding: 0;
  }

  #footer .sns-navi li {
    margin: 0 20px 0 0;
    padding: 0;
    font-size: 18px;
  }
}

/* sitenavi */

#footer .sitenavi {
  width: 50%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

#footer .sitenavi a {
  display: inline-block;
  margin: 0 0 0 20px;
  padding: 0;
  color: white;

}

#footer .sitenavi li:first-child {
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  #footer .sitenavi {
    width: 100%;
    text-align: center;
    font-size: 12px;
  }
}

/* copyright */

#footer .copyright {
  width: 50%;
  margin: 0;
  padding: 0;
  text-align: right;
  color: white;
}

@media screen and (max-width: 767px) {
  #footer .copyright {
    width: 100%;
    margin: 20px 0 0;
    text-align: center;
    font-size: 12px;
  }
}

body {
  margin: 0;
  padding: 0;
}


/*table*/
p {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  /* margin: 60px auto 40px;
  padding: 20px 30px; */
}

.section-button > p {
font-weight: bold;
}

table {
  width: 100%;
  margin-top: 100px;
}

.tbl-r02 th {
  background: #eee;
  border: solid 1px #ccc;
  color: #333;
  padding: 10px;
  text-align: center;
}

.tbl-r02 td {
  text-align: center;
  border: solid 1px #ccc;
  padding: 20px 30px;
}

@media screen and (max-width: 640px) {
  .last td:last-child {
    border-bottom: solid 1px #ccc;
    width: 100%;
  }

  .tbl-r02 {
    width: 80%;
  }

  .tbl-r02 th,
  .tbl-r02 td {
    border-bottom: none;
    display: block;
    width: 100%;
  }
}
.tbl-r02 {
margin: 0;
}

/*flow*/
ul {
  padding: 0;
}

li {
  list-style-type: none;
}

dd {
  margin-left: 0;
}

.flow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}

.flow>li {
  -ms-flex-preferred-size: 22%;
  flex-basis: 22%;
}
.flow a {
  text-decoration: none;
  color: #00CC00;
}
.flow p {
  font-size: 14px;
  text-align: left;
}




.flow>li .icon {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 50px;
  width: 50px;
  color: #fff;
  background: #00CC00;
  margin: 0 auto 20px;
  display: block;
  border-radius: 50%;
  text-align: center;
  position: relative;
  letter-spacing: 2px;
}



.flow>li .icon::before {
  content: "";
  border: solid transparent;
  border-width: 8px;
  border-top-color: #00CC00;
  position: absolute;
  top: calc(100% - 2px);
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.flow>li:last-child .icon::before{
    content: "";
    border: solid transparent;
    border-width: 8px;
    border-top-color: white;
    position: absolute;
    top: calc(100% - 2px);
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}


.flow>li dl {
  padding: 30px 20px;
  margin: 0;
  border: 3px solid #00CC00;
  position: relative;
}
.flow>li:last-child dl {
    border: 3px solid white;
}
.flow>li:not(:last-child) dl::before {
  content: "";
  width: 14px;
  height: 14px;
  margin-right: 10px;
  display: inline-block;
  border-top: 4px solid #00CC00;
  border-right: 4px solid #00CC00;
  position: absolute;
  top: calc(50% - 14px);
  left: 104%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.flow>li:nth-last-child(2) dl::before {
  content: "";
  width: 14px;
  height: 14px;
  margin-right: 10px;
  display: inline-block;
  border-top: 4px solid white;
  border-right: 4px solid white;
  position: absolute;
  top: calc(50% - 14px);
  left: 104%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}



.flow>li dl dt {
  font-size: 20px;
  font-weight: 600;
  color: #00CC00;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  margin-bottom: 1vh;
  text-align: center;
}

.original-name {
  display: flex;
  justify-content: space-between;
}
/*circle*/
.circle-right {
  position: relative;
  top: -130px;
  left: -30px;
  margin-left: -30px;
    margin-bottom: -90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FF773E;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.3em;
  z-index: 3;
}
.circle-left {
  position: relative;
  top: -130px;
  left: -30px;
  margin-left: -30px;
  margin-bottom: -90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FF773E;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  color: #fff;
  font-size: 22px;
  z-index: 3;
  font-weight: bold;
   line-height: 1.3em;

}

/*アコーディオン*/
/*General style */
.acd-check {
  display: none;
}

.acd-label {
  padding: 10px 15px;
  box-sizing: border-box;
  background: #eee;
  display: flex;
  justify-content: space-between;
  margin: 20px auto 5px;
  width: 60%;
  font-size: 19px;
  font-family: bold;
}


.acd-label::after {
  display: flex;
  align-items: center;
  font-family: "Font Awesome 5 Free";
  content: "\f0d7";
  font-weight: 900;
  transition: all 0.3s;
}

.acd-content {
  height: 0;
  opacity: 0;
  transition: 0.3s;
  visibility: hidden;
  width: 60%;
  padding: 0;
  margin: 0 auto;
}

.acd-content p {
  margin: 0;
  padding: 0 20px;
  word-break: break-all;
  text-align: left;
  font-size: 19px;
}
.pdf {
  display: block;
  width: 60%;
  margin: 20px auto;
  padding: 15px 10px;
  background: #eee;
  color: #333;
  text-align: left;
  font-size: 19px;
  text-decoration: none;
}
.pdf :hover {
  opacity: 0.8;
  color: #999;
  cursor: pointer;
}

.acd-check:checked+.acd-label+.acd-content {
  height: auto;
  opacity: 1;
  padding: 15px 0;
  visibility: visible;
  /* display: flex; */
  align-items: center;
  word-break: break-all;
}

.acd-check:checked+.acd-label::after {
  transform: rotate(180deg);
}

@media screen and (max-width: 960px) {
  .acd-label {
    width: 95%;
  }

  .acd-content {
    width: 95%;
  }

  .acd-check:checked+.acd-label+.acd-content {
    padding: 10px 0;
  }
}


div.quote::after {
  right: 29px;
  transform: rotate(30deg)
}
/*thanks*/
.thanks_tel {
  font-size: 1.5em;
  text-align: center;

}
